            body{
                font-family: Arial, sans-serif;
                background: #cfd7e6;
                margin:0 auto;
                height: auto;
            }
            .div{
                width: 450px;
                margin: 0 auto;
            }
            img{
                width: 100%;;
                height: auto;
                margin: 0 auto;
            }
            h1{
                text-align: center;
               
            }
            .Back{
    text-decoration: none; 
    color: #ffffff; 
    background-color: #007bff; 
    padding: 5px; 
    width: 60px;
    text-align: center;
    margin-bottom: 4px;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 20px;
            }
            .Back h1{
                border: 2px solid #007bff;
            }
            .list{
    text-decoration: none; 
    color: #ffffff; 
    background-color: #007bff; 
    padding: 5px; 
    width: 60px;
    text-align: center;
    margin-bottom: 4px;
    border-radius: 5px;
    margin: 0 auto;
   }








   .MinDiv{
    width: 400px;
    height: 60px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    

}


.divImg  img{
    margin-left:20px ;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    gap: 10px;
}